@mixin button-theme($theme) {

    $colors: map-get($theme, pallet);
    $pallet: map-get($colors, primary);

    .btn, .btn-outline, .btn-clean {
        cursor: pointer;
        border-radius: 4px;
        font-weight: bold;
        
        &:not([size]) {
            padding: 0 24px;
            height: 36px;
        }
    
        &[size=small] {
            padding: 0 8px;
            height: 24px;
        }
        
        &[size=medium] {
            padding: 0 16px;
            height: 32px;
        }
    
        &[size=large] {
            padding: 0 24px;
            height: 40px;
        }

        &:focus {
            outline: none;
        }
    }
    
    .btn, .btn-clean {
        border: none;
    }

    .btn {
        color: map-get($pallet, 50);
        background-color: map-get($pallet, 800);

        &:hover, &:focus {
            background-color: map-get($pallet, 500);
            color: map-get($pallet, 100);
        }
    
        &:active {
            background-color: map-get($pallet, 800);
            color: map-get($pallet, 200);
        }
    
        &:disabled {
            pointer-events: none;
            background-color: #F1F1F1;
        }
    }

    .btn-outline, .btn-clean {
        background: inherit;
        color: map-get($pallet, 800);

        &:hover {
            background-color: map-get($pallet, 50);
        }

        &:focus {
            background-color: map-get($pallet, 100);
        }

        &:active {
            background-color: map-get($pallet, 500);
            color: map-get($pallet, 50);
        }
    }

    .btn-outline {
        border: 1px solid map-get($pallet, 800);
    }
}
